DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=checkout_db

PAYMENT_PUBLIC_KEY=
PAYMENT_PRIVATE_KEY=
PAYMENT_EVENTS_KEY=
PAYMENT_INTEGRITY_KEY=
PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1

PORT=3001
FRONTEND_URL=http://localhost:5173

BASE_FEE_IN_CENTS=300000
DELIVERY_FEE_IN_CENTS=200000